.parent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: cadetblue;
}

.result {
  border: 2px dashed black;
  padding: 5px;
  color: white;
}

.date-text,
.user-selected-timezone {
  padding: 10px;
  border-radius: 5px;
}

.date-text {
  margin-right: 4px;
}

.submit-btn {
  background: black;
  color: white;
  padding: 10px;
  width: 100%;
  margin-top: 12px;
  border-radius: 6px;
}